{% extends "base.html" %}

{% block content %}

{% if totalSessions === 0 %}
<h1>Congrats there are no errors!</h1>
{% else %}
<h1>{{totalSessions}} session{% if totalSession > 1 %}s{% endif %} with errors</h1>
<ul class="sessions__list">
    {% for session in sessions %}
    <li class={{"danger" if session.errors.length else "info"}}>
        <a href="/session/{{session.id}}">
            <div class="session__id">Session {{ session.id }} @ {{session.date}}</div>
            <div class="session__num-messages">{{session.numMessages}}</div>
        </a>
        {% for error in session.errors %}
        
        <a href="/session/{{session.id}}#line-{{error.line}}" class="error-preview">
        <span>Line {{error.line}}: {{ error.message }}</span>
        </a>
        {% endfor %}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}