{% extends "base.html" %}

{% block content %}

<h1>{{totalSessions}} Sessions</h1>
<h2>Page {{pageNum}} of {{totalPages}}</h2>
<ul class="sessions__list">
    {% for session in sessions %}
    <li class={{"danger" if session.errors.length else "info"}}>
        <a href="/session/{{session.id}}">
            <div class="session__info">Session {{ session.id }} <span class="session__num-messages">{{session.numMessages}} messages</span></div>
            <div>{{h.moment(session.date).fromNow()}}</div>
        </a>
        {% for error in session.errors %}
        
        <a href="/session/{{session.id}}#line-{{error.line}}" class="error-preview">
        <span>Line {{error.line}}: {{ error.message }}</span>
        </a>
        {% endfor %}
    </li>
    {% endfor %}
</ul>


<ol class="pagination">
    {% for i in range(1, totalPages + 1) -%}
    <li>
        <a href="/page/{{i}}" class="{% if i == pageNum %}active {% endif %}page">{{i}}</a>
    </li>
    {% endfor %}
</ol>

{% endblock %}